<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./mainTemplate.xhtml">

            <ui:define name="top">
                top
            </ui:define>



            <ui:define name="left">
                left
            </ui:define>

            <ui:define name="content">
                <!--Adquiriendo departamentos al cargar la pagina-->
                #{carreraBean.listarC()}

                <!--Adquiriendo empleados al cargar la pagina-->
                #{estudianteBean.listarEstudiantes()}


                <h:form id="frmEstudiante">
                    <p:growl id="growl" showDetail="true" autoUpdate="true"/>
                    <!--grid para motrar datos-->
                    <h:panelGrid id="dataform" columns="3">
                        <p:outputLabel value="Codigo de estudiante: " for="codigo"/>
                        <p:inputText id="codigo" label="Codigo"
                                     value="#{estudianteBean.es.codigoEstudiante}" 
                                     disabled="true"/>                 
                        <p:message for="codigo"/>

                        <p:outputLabel value="Nombre: " for="nombre"/>
                        <p:inputText id="nombre" label="nombre"
                                     value="#{estudianteBean.es.nombre}" 
                                     validatorMessage="ingrese solo letras"
                                     required="true">
                        </p:inputText>
                        <p:message for="nombre"/>

                        <p:outputLabel value="Edad:  " for="edad"/>
                        <p:inputText id="edad" label="Edad"
                                     value="#{estudianteBean.es.edad}"

                                     validatorMessage="Debe especificar su edad" required="true">
                            <f:validateDoubleRange minimum="18" maximum="80"/>
                        </p:inputText>
                        <p:message for='edad'/>
                        
                        <p:outputLabel value="CUM:  " for="cum"/>
                        <p:inputText id="cum" label="CUM"
                                     value="#{estudianteBean.es.cum}"

                                     validatorMessage="Debe ingresar un C.U.M" required="true">
                            <f:validateDoubleRange minimum="0" maximum="10"/>
                        </p:inputText>
                        <p:message for='cum'/>

                        <p:outputLabel value="Carrera: " for="carrera"/>
                        <p:selectOneMenu id="carrera" value="#{estudianteBean.es.carrera.codigoCarrera}">
                            <f:selectItems value="#{carreraBean.listarCarreras}" var="car" itemValue="#{car.codigoCarrera}" 
                                           itemLabel="#{car.nombre}"
                                           />
                        </p:selectOneMenu>
                        <p:message for='carrera'/>

                        <h:panelGroup >
                            <p:commandButton value="Ingresar" 
                                             actionListener="#{estudianteBean.insertarEstudiante()}" 
                                             update="frmEstudiante" 
                                             >
                                <p:confirm header="Confirmación" 
                                           message="¿Realmente desea añadir al estudiante?"
                                           />
                            </p:commandButton>

                            <p:commandButton value="Actualizar Tabla" actionListener="#{estudianteBean.llenarPrueba()}"
                                             update="frmEstudiante:estudiantes" immediate="true"/>   

                            <p:confirmDialog global="true" 
                                             showEffect="fade"
                                             hideEffect="fade">
                                <p:commandButton value="Si" 
                                                 styleClass="ui-confirmdialog-yes"  
                                                 />
                                <p:commandButton value="No"
                                                 styleClass="ui-confirmdialog-no"
                                                 immediate="true"/>
                            </p:confirmDialog>

                        </h:panelGroup>     
                    </h:panelGrid> 


                    <!--Tabla de datos-->
                    <p:dataTable id="estudiantes" var="es" value="#{estudianteBean.listaEstudiante}">
                        <p:column headerText="Codigo del Estudiante">
                            <p:outputLabel value="#{es.codigoEstudiante}"/>
                        </p:column>

                        <p:column headerText="Nombre">
                            <p:outputLabel value="#{es.nombre}"/>
                        </p:column>
                        
                        <p:column headerText="Edad">
                            <p:outputLabel value="#{es.edad}"/>
                        </p:column>

                        <p:column headerText="C.U.M">
                            <p:outputLabel value="#{es.cum}"/>
                        </p:column>

                        <p:column headerText="Carrera">
                            <h:inputHidden value="#{es.carrera.codigoCarrera}"/>
                            <p:outputLabel value="#{es.carrera.nombre}"/>
                        </p:column>

                        <p:column headerText="Acciones">

                            <p:commandButton value="Eliminar" 
                                             actionListener="#{estudianteBean.delete(es)}" 
                                             update=":frmEstudiante"
                                             immediate="true">
                                <p:confirm header="Confirmación"
                                           message="¿Desea eliminar el Estudiante?"/>
                            </p:commandButton>

                            <p:commandButton value="Modificar"
                                             update=":dlgDatos" 
                                             actionListener="#{estudianteBean.buscarEstudiante(es)}" 
                                             oncomplete="PF('wdlgDatos').show();"
                                             immediate="true"/>
                        </p:column>
                    </p:dataTable>
                </h:form> 

                <!--dialog para modificar-->
                <p:dialog widgetVar="wdlgDatos" id="dlgDatos">
                    <h:form>
                        <h:panelGrid id="dataform2" columns="2">
                            <p:outputLabel value="Codigo Estudiante: " for="codigo"/>
                            <p:inputText id="codigo" label="Codigo"
                                         value="#{estudianteBean.es.codigoEstudiante}" disabled="true"/>

                            <p:outputLabel value="Nombre: " for="nombre"/>
                            <p:inputText id="nombre" label="nombre"
                                         value="#{estudianteBean.es.nombre}" required="true"/>

                            <p:outputLabel value="Edad:  " for="edad" />
                            <p:inputText id="edad" label="Edad"
                                         value="#{estudianteBean.es.edad}" required="true"/>

                            <p:outputLabel value="C.U.M:  " for="cum"/>
                            <p:inputText id="cum" label="CUM"
                                         value="#{estudianteBean.es.cum}" required="true"/>


                            <p:outputLabel value="Carrera: " for="carrera" />
                            <p:selectOneMenu id="carrera" value="#{estudianteBean.es.carrera.codigoCarrera}">
                                <f:selectItems value="#{carreraBean.listarCarreras}" var="car" itemValue="#{car.codigoCarrera}" 
                                               itemLabel="#{car.nombre}"
                                               />
                            </p:selectOneMenu>

                            <h:panelGroup >
                                <p:commandButton value="Aceptar" 
                                                 actionListener="#{estudianteBean.modificarEstudiante()}"
                                                 oncomplete="PF('wdlgDatos').hide();" 
                                                 update=":frmEstudiante"
                                                 validateClient="true">
                                    <p:confirm header="Confirmación" 
                                               message="¿Desea modificar el estudiante?"/>
                                </p:commandButton>

                                <p:commandButton value='Cancelar' oncomplete="PF('wdlgDatos').hide();"/>
                            </h:panelGroup>     
                        </h:panelGrid> 
                    </h:form>
                </p:dialog>
            </ui:define>

        </ui:composition>

    </body>
</html>