<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <link href="resources/css/cssLayout.css" rel="stylesheet" type="text/css"/>
        <link href="resources/css/default.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <div id="cuadro">
            <h:form>
                <p:messages autoUpdate="true" showDetail="true"/>
                <h:panelGrid columns="2">
                    <p:outputLabel for="username" value="username"/>
                    <p:inputText id="username" value="#{indexBean.us.username}" required="true"/>

                    <p:outputLabel for="contra" value="contra"/>
                    <p:password id="contra" value="#{indexBean.us.contra}" required="true"/>

                    <h:column />
                    <p:commandButton icon="ui-icon-key" value="Iniciar Sesión" action="#{indexBean.iniciarSesion()}"/>
                </h:panelGrid>
                <p:separator />                       
            </h:form>        
        </div>
    </h:body>
</html>

