<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="resources/css/cssLayout.css" rel="stylesheet" type="text/css"/>
        <link href="resources/css/default.css" rel="stylesheet" type="text/css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>
        <div id="top" class="top">
            <ui:insert name="top">Top</ui:insert>
        </div>

        <div id="nav" class="nav">
            <ui:insert name="nav">
                <p:breadCrumb>
                    <p:menuitem value="Menu"  url="#"/>
                    <p:menuitem value="Gestionar Estudiantes"  url="gestionarEstudiantes.xhtml"/>
                    <p:menuitem value="Gestionar Carreras" url="gestionarCarreras.xhtml"/>
                </p:breadCrumb>
            </ui:insert>
        </div>

        <div>
            <div id="left">
                <ui:insert name="left">Left</ui:insert>
            </div>
            <div id="content" class="left_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>
    </h:body>

</html>
