<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>Empleado</title>
        <style>
            .panelNoBorder, .panelNoBorder tr, .panelNoBorder td{
                border: hidden;
                border-color: white;
            }
        </style>
    </h:head>
    <h:body>

        <p:panel>
            <h1>Estudiante</h1>
        </p:panel>
        <h:form>
            <h:messages globalOnly="true" ></h:messages>
            <p:panelGrid  columns="3"  styleClass="panelNoBorder">
                <p:outputLabel value="Nombre del estudiante" for="txtNombre"/>
                <p:inputText id="txtNombre" required="true"
                             value="#{estudiante.nombre}" 
                             />
                <h:message for="txtNombre"/>

                <p:outputLabel value="Apellidos del estudiate" for="txtApellidos"/>
                <p:inputText  id="txtApellidos" required="true"
                              value="#{estudiante.apellidos}" 
                              />
                <h:message for="txtApellidos"/>

                <p:outputLabel value="Año de nacimiento" for="txtAnio"/>
                <p:inputText required="true" type="number" id="txtAnio" value="#{estudiante.anioNacimiento}">
                    <f:validateDoubleRange minimum="1990" maximum="2022"/>
                </p:inputText>
                <h:message for="txtAnio"/>                

                <p:outputLabel value="Carrera" for="selectCarrera"/>
                <p:selectOneMenu required="true" id="selectCarrera" value="#{estudiante.carrera}">
                    <f:selectItem itemLabel="Seleccione una carrera" itemValue=""/>
                    <f:selectItem itemLabel="Ingenieria en desarrollo de sofware" itemValue="Ingenieria en desarrollo de sofware"/>
                    <f:selectItem itemLabel="Mecanica" itemValue="Mecanica"/>
                </p:selectOneMenu>
                <h:message for="selectCarrera"/>  

                <p:outputLabel value="Nota 1" for="txtNota1"/>
                <p:inputText required="true" type="number" id="txtNota1" value="#{estudiante.nota1}">
                    <f:validateDoubleRange minimum="0.0" maximum="10.0"/>
                </p:inputText>
                <h:message for="txtNota1"/>  

                <p:outputLabel value="Nota 2" for="txtNota2"/>
                <p:inputText required="true" type="number" id="txtNota2" value="#{estudiante.nota2}">
                    <f:validateDoubleRange minimum="0.0" maximum="10.0"/>
                </p:inputText>
                <h:message for="txtNota2"/>  

                <p:outputLabel value="Materias" for="txtMaterias"/>
                <p:selectManyCheckbox id="txtMaterias" value="#{estudiante.materiasInscritas}">
                    <f:selectItem itemValue="Matematicas 1" itemLabel="Matematicas 1"/>
                    <f:selectItem itemValue="Fisica 1" itemLabel="Fisica 1"/>
                    <f:selectItem itemValue="Programacion" itemLabel="Programacion"/>
                    <f:selectItem itemValue="Lenguaje" itemLabel="Lenguaje"/>
                </p:selectManyCheckbox>
                <h:message for="txtMaterias"/> 
                <br></br>
                <h:commandButton action="#{estudianteForm.enviar}" value="Enviar Datos" />
            </p:panelGrid>
        </h:form>
    </h:body>
</html>

