<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:view contentType="text/html;charset=UTF-8" encoding="UTF-8">
        <h:head>
            <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/all.min-jsf.css" />
            <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
            <h:outputStylesheet library="webjars" name="primeflex/3.0.1/primeflex.min.css" />
            <title>Empleado</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"></link>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        </h:head>
        <h:body>

            <div class="container mt-5">
                <h1 class="mb-5 h1 text-center">Datos de empleado</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">DUI</th>
                            <th scope="col">Carrera</th>
                            <th scope="col">Habilidades</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#{empleado.nombres}</td>
                            <td>#{empleado.apellidos}</td>
                            <td>#{empleado.dui}</td>
                            <td>#{empleado.carrera}</td>
                            <td>#{empleado.habilidadesString}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </h:body>
    </f:view>
</html>

