<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:view contentType="text/html;charset=UTF-8" encoding="UTF-8">
        <h:head>
            <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/all.min-jsf.css" />
            <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
            <h:outputStylesheet library="webjars" name="primeflex/3.0.1/primeflex.min.css" />
            <title>Empleado</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"></link>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        </h:head>
        <h:body>
            <div class="container mt-5">
                <h1 class="mb-5 h1 text-center">Empleado</h1>
                <h:form>
                    <div class="ui-fluid formgrid grid">
                        <div class="field col">
                            <p:outputLabel for="txtNombre" value="Nombres" />
                            <p:inputText id="txtNombre" required="true" value="#{empleado.nombres}"/>
                            <h:message for="txtNombre"></h:message>
                        </div>
                        <div class="field col">
                            <p:outputLabel for="txtApellidos" value="Apellidos" />
                            <p:inputText id="txtApellidos" required="true" value="#{empleado.apellidos}" />
                            <h:message for="txtApellidos"></h:message>
                        </div>
                    </div>

                    <div class="ui-fluid formgrid grid">
                        <div class="field col">
                            <p:outputLabel for="txtDui" value="DUI" />
                            <p:inputText id="txtDui" required="true" value="#{empleado.dui}">
                                <f:validateRegex pattern="^\d{8}-\d{1}$"/>
                            </p:inputText>
                            <h:message for="txtDui"></h:message>
                        </div>
                        <div class="field col">
                            <p:outputLabel for="txtCarrera" value="Carrera" />
                            <p:inputText id="txtCarrera" required="true" value="#{empleado.carrera}"/>
                            <h:message for="txtCarrera"></h:message>
                        </div>
                    </div>
                    <h:commandLink actionListener="#{empleadoForm.mostrarHabilidades}" immediate="true"
                                   rendered="#{!empleadoForm.seleccionarHabilidades}" value="Mostrar Habilidades" />
                    <h:commandLink actionListener="#{empleadoForm.ocultarHabilidades}" immediate="true"
                                   rendered="#{empleadoForm.seleccionarHabilidades}" value="Ocultar Habilidades" />
                    <div class="ui-fluid formgrid grid">
                        <h:panelGroup rendered="#{empleadoForm.seleccionarHabilidades}">
                            <div class="field col">
                                <p:outputLabel for="combosHabilidades" value="Habilidades" />
                                <div class="formgroup-inline">
                                    <p:selectManyCheckbox id="combosHabilidades" value="#{empleado.habilidades}">
                                        <f:selectItem itemLabel="Programacion" itemValue="Programacion"/>
                                        <f:selectItem itemLabel="Musica" itemValue="Musica" />
                                        <f:selectItem itemLabel="Escritura" itemValue="Escritura" />
                                        <f:selectItem itemLabel="Deportes" itemValue="Deportes" />
                                    </p:selectManyCheckbox>
                                </div>
                            </div>
                        </h:panelGroup>
                    </div>

                    <p:commandButton action="#{empleadoForm.enviar}" value="Enviar Datos" />
                </h:form>
            </div>
        </h:body>
    </f:view>
</html>

