<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./mainTemplate.xhtml">

            <ui:define name="content">
                #{proyectoBean.listarP()}
                <h:form id="formulario">
                    <p:growl id="growl" showDetail="true" autoUpdate="true"/>
                    <h:panelGrid columns="3" cellpadding="5" >
                        <p:outputLabel for="nombre" value="Nombre del Proyecto" />
                        <p:inputText id="nombre" value="#{proyectoBean.pro.nombre}" required="true" label="Nombre del Proyecto" maxlength="50"/>
                        <p:message for="nombre"/>

                        <p:outputLabel for="ubicacion" value="Ubicacion de Proyecto:" />
                        <p:inputText id="ubicacion" value="#{proyectoBean.pro.ubicacion}" label="Ubicacion del Proyecto" required="true" maxlength="25"/>
                        <p:message for="ubicacion"/>

                        <p:outputLabel for="direccion" value="Direccion de Proyecto:" />
                        <p:inputText id="direccion" value="#{proyectoBean.pro.direccion}" label="Direccion del Proyecto" required="true" maxlength="150"/>
                        <p:message for="direccion"/>

                        <p:outputLabel for="telefono" value="Telefono de Proyecto:" />
                        <p:inputMask mask="+1(999) 999-9999" id="telefono" value="#{proyectoBean.pro.telefono}" label="Telefono del Proyecto" required="true"/>
                        <p:message for="telefono"/>

                        <h:panelGroup>
                            <p:commandButton value="Registrar" update="datos" ajax="false" actionListener="#{proyectoBean.registrar()}" icon="ui-icon-check" />
                            <p:commandButton value="Actualizar Tabla" update="datos" actionListener="#{proyectoBean.listarP()}" immediate="true"/>
                            <p:commandButton type="reset" value='Limpiar'></p:commandButton>
                        </h:panelGroup>

                    </h:panelGrid>



                    <p:dataTable id="datos" value="#{proyectoBean.listarProyectos}" var="proyecto">

                        <p:column headerText="Codigo del Proyecto"> 
                            <p:outputLabel value="#{proyecto.codigoProyecto}"/>
                        </p:column>
                        <p:column headerText="Nombre Proyecto">
                            <p:outputLabel value="#{proyecto.nombre}"/>
                        </p:column>
                        <p:column headerText="Ubicacion Proyecto"> 
                            <p:outputLabel value="#{proyecto.ubicacion}"/>
                        </p:column>
                        <p:column headerText="Direccion Proyecto"> 
                            <p:outputLabel value="#{proyecto.direccion}"/>
                        </p:column>
                        <p:column headerText="Telefono Proyecto"> 
                            <p:outputLabel value="#{proyecto.telefono}"/>
                        </p:column>
                        
                        <p:column headerText="Acciones" style="text-align: center">

                            <p:commandButton value="Eliminar" actionListener="#{proyectoBean.eliminar(proyecto)}" update="datos" immediate="true" style="margin: 0.3em">
                                <p:confirm header="Confirmation" message="¿Desea eliminar el proyecto?" icon="ui-icon-alert" />
                            </p:commandButton>



                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>

                            <p:commandButton value="Modificar" actionListener="#{proyectoBean.seleccionar(proyecto)}" oncomplete="PF('wdlgDatos').show();" 
                                             update=":dlgDatos" immediate="true" style="margin: 0.3em"/>
                        </p:column>

                    </p:dataTable>

                </h:form>

                <p:dialog header="Proyectos" widgetVar="wdlgDatos" id="dlgDatos">
                    <h:form>                
                        <h:panelGrid columns="2" cellpadding="5" >
                            <p:outputLabel for="nombre" value="Nombre del Proyecto" />
                            <p:inputText id="nombre" value="#{proyectoBean.pro.nombre}" required="true" label="Nombre del Proyecto" maxlength="50"/>

                            <p:outputLabel for="ubicacion" value="Ubicacion de Proyecto:" />
                            <p:inputText id="ubicacion" value="#{proyectoBean.pro.ubicacion}" label="Ubicacion del Proyecto" required="true" maxlength="25"/>

                            <p:outputLabel for="direccion" value="Direccion de Proyecto:" />
                            <p:inputText id="direccion" value="#{proyectoBean.pro.direccion}" label="Direccion del Proyecto" required="true" maxlength="150"/>

                            <p:outputLabel for="telefono" value="Telefono de Proyecto:" />
                            <p:inputMask mask="+1(999) 999-9999" id="telefono" value="#{proyectoBean.pro.telefono}" label="Telefono del Proyecto" required="true"/>
                            <h:panelGroup>
                                <p:commandButton value="Modificar" actionListener="#{proyectoBean.modificar()}" update=":formulario:datos" oncomplete="PF('wdlgDatos').hide();">
                                    <p:confirm header="Confirmation" message="¿Esta seguro de modificar el Proyecto?" icon="ui-icon-alert" />
                                </p:commandButton>
                                <p:commandButton value="Cancelar" immediate="true" oncomplete="PF('wdlgDatos').hide();"/>
                            </h:panelGroup>
                        </h:panelGrid>
                    </h:form>
                </p:dialog>
            </ui:define>

        </ui:composition>

    </body>
</html>