<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./mainTemplate.xhtml">

            <ui:define name="content">
                #{coordinadorBean.listarCoordinadores()}
                #{proyectoBean.listarP()}
                <h:form id="frmCoordinador">
                    <p:growl id="growl" showDetail="true" autoUpdate="true"/>
                    <h:panelGrid id="dataform" columns="3">

                        <p:outputLabel value="Nombre Coordinador: " for="nombre"/>
                        <p:inputText id="nombre" label="nombre" maxlength="50"
                                     value="#{coordinadorBean.coor.nombre}" 
                                     validatorMessage="ingrese solo letras"
                                     required="true">
                        </p:inputText>
                        <p:message for="nombre"/>

                        <p:outputLabel value="Edad Coordinador:  " for="edad"/>
                        <p:inputText id="edad" label="Edad" type="number"
                                     value="#{coordinadorBean.coor.edad}"
                                     validatorMessage="Ingrese una edad entre el rango de 18 - 80" required="true">
                            <f:validateDoubleRange minimum="18" maximum="80"/>
                        </p:inputText>
                        <p:message for='edad'/>

                        <p:outputLabel value="Sueldo Base Coordinador:  " for="sueldo"/>
                        <p:inputText id="sueldo" label="sueldo"
                                     type="number"
                                     value="#{coordinadorBean.coor.sueldoBase}"
                                     validatorMessage="Debe especificar un salario base mayor a 300" required="true">
                            <f:validateDoubleRange minimum="300.00" />
                        </p:inputText>
                        <p:message for='sueldo'/>

                        <p:outputLabel value="Proyecto: " for="proyecto"/>
                        <p:selectOneMenu required="true" id="proyecto" value="#{coordinadorBean.coor.proyecto.codigoProyecto}">
                            <f:selectItem itemValue="" itemLabel="Seleccione un proyecto"></f:selectItem>
                            <f:selectItems value="#{proyectoBean.listarProyectos}" var="pro" itemValue="#{pro.codigoProyecto}" 
                                           itemLabel="#{pro.nombre}"
                                           />
                        </p:selectOneMenu>
                        <p:message for='proyecto'/>

                        <p:outputLabel value="Intereses: " for="intereses"/>                  
                        <p:selectManyCheckbox id="intereses" label="Intereses"
                                              value="#{coordinadorBean.coor.intereses}">
                            <f:selectItem itemLabel="Estudios" itemValue="Estudios"/>
                            <f:selectItem itemLabel="Videojuegos" itemValue="Videojuegos"/>
                            <f:selectItem itemLabel="Deportes" itemValue="Deportes"/>
                            <f:selectItem itemLabel="Peliculas" itemValue="Peliculas"/>
                            <f:selectItem itemLabel="Libros" itemValue="Libros"/>
                            <f:selectItem itemLabel="Manga" itemValue="Manga"/>
                            <f:selectItem itemLabel="Anime" itemValue="Anime"/>
                        </p:selectManyCheckbox>
                        <p:message for='intereses'/>

                        <p:outputLabel value="Sexo: " for="sexo"/>
                        <p:selectOneRadio id="sexo" label="Sexo" required="true" 
                                          value="#{coordinadorBean.coor.sexo}"

                                          validatorMessage="Debe seleccionar uno">
                            <f:selectItem itemLabel="Masculino" itemValue="Masculino"/>
                            <f:selectItem itemLabel="Femenino" itemValue="Femenino" />
                        </p:selectOneRadio>
                        <p:message for='sexo'/>


                        <p:outputLabel value="Area:  " for="area"/>                       
                        <p:selectOneMenu id="area" label="Area"
                                         value="#{coordinadorBean.coor.area}">
                            <f:selectItem itemLabel="RRHH" itemValue="RRHH"/>
                            <f:selectItem itemLabel="Informatica" itemValue="Informatica"/>
                            <f:selectItem itemLabel="Contabilidad" itemValue="Contabilidad"/>
                            <f:selectItem itemLabel="Gerencia" itemValue="Gerencia"/>
                        </p:selectOneMenu>
                        <p:message for='area'/>

                        <h:panelGroup >
                            <p:commandButton value="Registrar" 
                                             actionListener="#{coordinadorBean.insertarCoordinador()}" 
                                             update="frmCoordinador" icon="ui-icon-check">
                            </p:commandButton>

                            <p:commandButton value="Actualizar Tabla" actionListener="#{coordinadorBean.listarCoordinadores()}"
                                             update="frmCoordinador:coordinadores" immediate="true"/>

                            <p:commandButton type="reset" value='Limpiar'></p:commandButton>

                            <p:confirmDialog global="true" 
                                             showEffect="fade"
                                             hideEffect="fade">
                                <p:commandButton value="Si" 
                                                 styleClass="ui-confirmdialog-yes"  
                                                 />
                                <p:commandButton value="No"
                                                 styleClass="ui-confirmdialog-no"
                                                 immediate="true"/>
                            </p:confirmDialog>

                        </h:panelGroup>
                    </h:panelGrid>


                    <!--Tabla de datos-->
                    <p:dataTable id="coordinadores" var="cor" value="#{coordinadorBean.listaCoordinador}">
                        <p:column headerText="Codigo del Coordinador">
                            <p:outputLabel value="#{cor.codigoCoordinador}"/>
                        </p:column>

                        <p:column headerText="Nombre">
                            <p:outputLabel value="#{cor.nombre}"/>
                        </p:column>

                        <p:column headerText="Edad">
                            <p:outputLabel value="#{cor.edad}"/>
                        </p:column>

                        <p:column headerText="Sueldo Base">
                            <p:outputLabel value="#{cor.sueldoBase}"/>
                        </p:column>

                        <p:column headerText="Proyecto">
                            <h:inputHidden value="#{cor.proyecto.codigoProyecto}"/>
                            <p:outputLabel value="#{cor.proyecto.nombre}"/>
                        </p:column>

                        <p:column headerText="Intereses">
                            <p:outputLabel value="#{cor.intereses}"/>
                        </p:column>

                        <p:column headerText="Sexo">
                            <p:outputLabel value="#{cor.sexo}"/>
                        </p:column>


                        <p:column headerText="Area">
                            <p:outputLabel value="#{cor.area}"/>
                        </p:column>

                        <p:column headerText="Acciones" style="text-align: center">

                            <p:commandButton value="Eliminar" style="margin: 0.5em"
                                             actionListener="#{coordinadorBean.delete(cor)}" 
                                             update=":frmCoordinador"
                                             immediate="true">
                                <p:confirm header="Confirmación"
                                           message="¿Desea eliminar el empleado?"/>
                            </p:commandButton>

                            <p:commandButton value="Modificar" style="margin: 0.5em"
                                             update=":dlgDatos" 
                                             actionListener="#{coordinadorBean.buscarCoordinador(cor)}" 
                                             oncomplete="PF('wdlgDatos').show();" 
                                             immediate="true"/>      
                        </p:column>
                    </p:dataTable>
                </h:form> 


                <p:dialog widgetVar="wdlgDatos" id="dlgDatos">
                    <h:form>
                        <h:panelGrid id="dataform2" columns="2">
                            <p:outputLabel value="Codigo de Coordinador " for="codigo"/>
                            <p:inputText id="codigo" label="Codigo" maxlength="50"
                                         value="#{coordinadorBean.coor.codigoCoordinador}"
                                         disabled="true"/>                 

                            <p:outputLabel value="Nombre Coordinador: " for="nombre"/>
                            <p:inputText id="nombre" label="nombre"
                                         value="#{coordinadorBean.coor.nombre}" 
                                         validatorMessage="ingrese solo letras"
                                         required="true">
                            </p:inputText>

                            <p:outputLabel value="Edad Coordinador:  " for="edad"/>
                            <p:inputText id="edad" label="Edad"
                                         value="#{coordinadorBean.coor.edad}"
                                         validatorMessage="Debe especificar su edad" required="true">
                                <f:validateDoubleRange minimum="18" maximum="80"/>
                            </p:inputText>

                            <p:outputLabel value="Sueldo Base Coordinador:  " for="sueldo"/>
                            <p:inputText id="sueldo" label="sueldo"
                                         value="#{coordinadorBean.coor.sueldoBase}"
                                         validatorMessage="Debe especificar un salario base" required="true">
                                <f:validateDoubleRange minimum="300.00" />
                            </p:inputText>

                            <p:outputLabel value="Proyecto: " for="proyecto"/>
                            <p:selectOneMenu required="true" id="proyecto" value="#{coordinadorBean.coor.proyecto.codigoProyecto}">
                                <f:selectItem itemValue="" itemLabel="Seleccione un proyecto"></f:selectItem>
                                <f:selectItems value="#{proyectoBean.listarProyectos}" var="pro" itemValue="#{pro.codigoProyecto}" 
                                               itemLabel="#{pro.nombre}"
                                               />
                            </p:selectOneMenu>

                            <p:outputLabel value="Intereses: " for="intereses"/>                  
                            <p:selectManyCheckbox id="intereses" label="Intereses"
                                                  value="#{coordinadorBean.coor.intereses}">
                                <f:selectItem itemLabel="Estudios" itemValue="Estudios"/>
                                <f:selectItem itemLabel="Videojuegos" itemValue="Videojuegos"/>
                                <f:selectItem itemLabel="Deportes" itemValue="Deportes"/>
                                <f:selectItem itemLabel="Peliculas" itemValue="Peliculas"/>
                                <f:selectItem itemLabel="Libros" itemValue="Libros"/>
                                <f:selectItem itemLabel="Manga" itemValue="Manga"/>
                                <f:selectItem itemLabel="Anime" itemValue="Anime"/>
                            </p:selectManyCheckbox>

                            <p:outputLabel value="Sexo: " for="sexo"/>
                            <p:selectOneRadio id="sexo" label="Sexo" required="true" 
                                              value="#{coordinadorBean.coor.sexo}"

                                              validatorMessage="Debe seleccionar uno">
                                <f:selectItem itemLabel="Masculino" itemValue="Masculino"/>
                                <f:selectItem itemLabel="Femenino" itemValue="Femenino" />
                            </p:selectOneRadio>


                            <p:outputLabel value="Area:  " for="area"/>                       
                            <p:selectOneMenu id="area" label="Area"
                                             value="#{coordinadorBean.coor.area}">
                                <f:selectItem itemLabel="RRHH" itemValue="RRHH"/>
                                <f:selectItem itemLabel="Informatica" itemValue="Informatica"/>
                                <f:selectItem itemLabel="Contabilidad" itemValue="Contabilidad"/>
                                <f:selectItem itemLabel="Gerencia" itemValue="Gerencia"/>
                            </p:selectOneMenu>

                            <h:panelGroup >
                                <p:commandButton value="Aceptar" 
                                                 actionListener="#{coordinadorBean.modificarCoordinador()}"
                                                 oncomplete="PF('wdlgDatos').hide();" 
                                                 update=":frmCoordinador"
                                                 validateClient="true">
                                    <p:confirm header="Confirmación" 
                                               message="¿Desea modificar al Coordinador?"/>
                                </p:commandButton>

                                <p:commandButton value='Cancelar' oncomplete="PF('wdlgDatos').hide();"/>
                            </h:panelGroup>     
                        </h:panelGrid> 
                    </h:form>
                </p:dialog>
            </ui:define>

        </ui:composition>

    </body>
</html>