<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"

      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="resources/css/cssLayout.css" rel="stylesheet" type="text/css"/>  
        <link href="resources/css/default.css" rel="stylesheet" type="text/css"/>
        <title>Examen Practico 044019 - 034519</title>
    </h:head>

    <h:body>


        <div id="top" class="top">
            <p:panel style="margin:0 auto">
                <h1>Gestion de Proyectos 044019 - 034519</h1>
            </p:panel>
        </div>

        <div id="nav" class="nav">
            <ui:insert name="nav">
                <div class="card">
                    <h:form>
                        <p:growl id="messages"/>

                        <p:menubar> 
                            <p:menuitem value="Gestionar Coordinadores" url="gestionarCoordinadores.xhtml"/>
                            <p:menuitem value="Gestionar Proyectos" url="gestionarProyectos.xhtml"/>
                        </p:menubar>
                    </h:form>
                </div>
            </ui:insert>
        </div>

        <div>
            <div id="left">
                <p:panelGrid columns="2">
                    <p:outputLabel style="font-weight:bold" value="044019"/>
                    <p:outputLabel value="Roberto Otoniel Marquez Merche"/>

                    <p:outputLabel style="font-weight:bold" value="034519"/>
                    <p:outputLabel value="Geovanny Roberto Martinez Avila"/>
                </p:panelGrid>
            </div>
            <div id="content" class="left_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>
    </h:body>

</html>
