<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <table>
                <td>
                    <h:outputLabel for="nombre" value="Nombres"></h:outputLabel>
                </td>
                <td>
                    <h:inputText id="nombre" value="#{estudiante.nombre}" />
                </td>
                <td>
                    <h:message for="nombre"></h:message>
                </td>
            </table>
        </h:form>
    </h:body>
</html>

