<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Empelados</title>
    </h:head>
    <h:body>
        <h:form id="empleadoForm">
            <h:messages globalOnly="true" ></h:messages>
            <table>
                <tr>
                    <!-- DUI -->
                    <td><p:outputLabel for="dui" value="DUI: "/></td>
                    <td><p:inputMask id="dui" mask="99999999-9" required="true" value="#{empleado.dui}"/></td>
                    <td><p:message for="dui" /></td>

                </tr>
                <tr>
                    <!-- Nombres -->
                    <td><p:outputLabel for="nombres" value="Nombres: "/></td>
                    <td><p:inputText id="nombres" required="true" value="#{empleado.nombres}"/></td>
                    <td><p:message for="nombres" /></td>

                </tr>
                <tr>
                    <!-- Apellidos -->
                    <td><p:outputLabel for="apellidos" value="Apellidos: "/></td>
                    <td><p:inputText id="apellidos" required="true" value="#{empleado.apellidos}"/></td>
                    <td><p:message for="apellidos" /></td>
                </tr>
                <tr>
                    <!-- edad -->
                    <td><p:outputLabel for="edad" value="Edad Actual: "/></td>
                    <td>
                        <p:spinner id="edad" value="#{empleado.edad}">
                            <f:validateLongRange minimum="16" maximum="60" />
                        </p:spinner>
                    </td>
                    <td><p:message for="edad" /></td>

                </tr>
                <tr>
                    <!-- Fecha Nacimiento -->
                    <td><p:outputLabel for="fechaNacimiento" value="Fecha de Nacimiento"></p:outputLabel></td>
                    <td><p:inputText id="fechaNacimiento" required="true" value="#{empleado.fechaNacimiento}">
                            <f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
                        </p:inputText>
                    </td>
                    <td><p:message for="fechaNacimiento"></p:message></td>
                </tr>
                <tr>
                    <!-- Sueldo -->
                    <td><p:outputLabel for="sueldo" value="Sueldo "/></td>
                    <td><p:inputText id="sueldo" required="true" value="#{empleado.sueldo}" >
                            <f:validateDoubleRange minimum="300.00" />
                        </p:inputText>
                    </td>
                    <td><p:message for="sueldo"></p:message></td>
                </tr>
                <tr>
                    <!-- Genero -->
                    <td><p:outputLabel value="Genero: " for="genero" /></td>
                    <td>
                        <p:selectOneRadio id="genero" required="true" value="#{empleado.genero}">
                            <f:selectItem itemLabel="Masculino" itemValue="Masculino" />
                            <f:selectItem itemLabel="Femenino" itemValue="Femenino" />
                        </p:selectOneRadio>
                    </td>
                    <td><p:message for="genero"></p:message></td>
                </tr>
                <tr>
                    <!-- Carrera -->
                    <td><h:outputLabel for="carrera"  value="Carrera: " /></td>
                    <td><p:selectOneMenu id="carrera" required="true"  value="#{empleado.carrera}" style="width: 100% !important">
                            <f:selectItem itemLabel="Selecione una carrera" itemValue=""/>
                            <f:selectItem itemLabel="Software" itemValue="Software"/>
                            <f:selectItem itemLabel="Psicología" itemValue="Psicología"/>
                            <f:selectItem itemLabel="Derecho" itemValue="Derecho"/>
                            <f:selectItem itemLabel="Arquitectura" itemValue="Arquitectura"/>
                            <f:selectItem itemLabel="Quimica" itemValue="Quimica"/>
                        </p:selectOneMenu>
                    </td>
                    <td><p:message for="carrera"></p:message></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <h:commandLink actionListener="#{empleadoForm.ocultarComentario}" immediate="true" 
                                       rendered="#{!empleadoForm.comentarioEnviado}" value="Mostrar" />
                        <h:commandLink actionListener="#{empleadoForm.ocultarComentario}" immediate="true" 
                                       rendered="#{empleadoForm.comentarioEnviado}" value="Ocultar" />
                    </td>
                </tr>
            </table>
            <h:panelGroup rendered="#{empleadoForm.comentarioEnviado}">
                <table>
                    <tr>
                        <td><p:outputLabel for="habilidades" value="Habilidades" /></td>
                    </tr>
                    <tr>
                        <td><p:inputTextarea id="habilidades" cols="50" rows="10" value="#{empleado.habilidades}" /></td>
                    </tr>
                </table>
            </h:panelGroup>
            <h:commandButton action="mostrarDatos" value="Enviar" />
        </h:form>
    </h:body>
</html>
