<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/XHtml.xhtml to edit this template
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <head>
        <title>Mostrar Datos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <h:body>
        <h:outputText value="Datos Empleado" />
        <table>
            <tr>
                <td>
                    <p:outputLabel value="DUI: " />
                    <p:outputLabel value="#{empleado.dui}" />
                </td>
            </tr>
            <tr>
                <td>
                    <p:outputLabel value="Nombres: " />
                    <p:outputLabel value="#{empleado.nombres}" />
                </td>
            </tr>
            <tr>
                <td>
                    <p:outputLabel value="Apellidos: " />
                    <p:outputLabel value="#{empleado.apellidos}" />
                </td>
            </tr>
            <tr>
                <td>
                    <p:outputLabel value="Edad Actual: " />
                    <p:outputLabel value="#{empleado.edad}" />
                </td>
            </tr>
            <tr>
                <td>
                    <p:outputLabel value="Fecha de Nacimiento " />
                    <p:outputLabel value="#{empleado.fechaNacimiento}" />
                </td>
            </tr>
            <tr>
                <td>
                    <p:outputLabel value="Sueldo Base: " />
                    <p:outputLabel value="#{empleado.sueldo}" />
                </td>
            </tr>
            
            <tr>
                <td>
                    <p:outputLabel value="Genero: " />
                    <p:outputLabel value="#{empleado.genero}" />
                </td>
            </tr>
            
            <tr>
                <td>
                    <p:outputLabel value="Carrera: " />
                    <p:outputLabel value="#{empleado.carrera}" />
                </td>
            </tr>
            
            <tr>
                <td>
                    <p:outputLabel value="Habilidades: " />
                    <p:outputLabel value="#{empleado.habilidades}" />
                </td>
            </tr>
        </table>
    </h:body>
</html>
